body {
  background : bisque;
}
#intro{
  font-family: Georgia, serif;
  text-align: justify;
  width:50vh;
  font-size:20px;
}
#people {
  margin-right: -100vh;
}
#pic {
  opacity: 0.5;
}
#quote {
  font-size: 20px;
  text-align: center;
  position: absolute;
  transform:translateY(-300%);
  color: white;
  border: 2px solid brown;
  
  

}
#communication {
  height: 50vh;
}
h1 {
  margin-left:15px;
}
navbar {
  background-color: maroon;
  overflow: hidden;
}
.group{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: maroon;
  color: white;
}
.mid{
  margin-left: 15px;
}
/* Change the color of links on hover */
.navbar a:hover {
  background-color: red;
  color: white;
}
p{
  margin-left: 15px;
}

